.text{
    font-family:Trebuchet MS, sans-serif;
    font-size:180px;
text-align: center;
color: white ;
}

*{
  padding: 0;
  margin:0; 
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
 
    
}
html {
  box-sizing: border-box;
  font-size: 50.5%;
 
}



body {
  font-kerning: montserrat;
 
}
.logo img{
  width: 120px;
  float: left;
  height: auto;
}
nav{
  background: #cf2525;
  height: 80px;
  width: 100%;
}
nav ul{
  float: right;
  margin-right: 20px;

}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;

}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;


}
.checkbtn{
  font-size: 30px;
  color :white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;


}
#check{
  display: none;

}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
    display: block;

  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;

  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;

  }
  nav ul li a{
    font-size: 20px;

  }
  a:hover, a.active{
    background: none;
    color: #0082e6;
  }
#check:checked ~ ul{
  left: 0;
}

}



.grid {
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
   margin-left: 200px;
margin-top: 170px;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}



.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 4rem;
  text-align: center;
  color: red;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
}

.text-center {
    text-align:center
}
.content{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  max-width: 900px;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
 
 
}