

<!DOCTYPE html>
<html dir="ltr" lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

<link href="{%static 'polls\css\AlphabetA1.css'%}" rel="stylesheet" >
    
   
    
    

    <script src="/assets/e3a235f6/js/jquery-2.1.1.min.js"></script>
    <script src="/assets/e3a235f6/js/jquery-ui.min.js"></script>
    <script src="/assets/e3a235f6/jplayer/jquery.jplayer.min.js"></script>
    <script src="/assets/e3a235f6/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/assets/e3a235f6/js/main.min.js"></script>
    <script type="text/javascript" src="/assets/e3a235f6/js/jquery.ui.touch-punch.min.js"></script>

    <script type="text/javascript" src="/assets/e3a235f6/select2/js/select2.min.js"></script>
    <link href="Style4.css" rel="stylesheet">
    <link href="Style3.css" rel="stylesheet">

            
    <title>Phonétique / Grammaire </title>


</head>    

<nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
     

<div cass="wrapper">
    <div class="logo">
         <img src="{%static 'polls/Images/LOGO.png'%}" alt="">
       </div>
</div>
</div>
</nav>

<body class="translation">


        <div id="content" class="content">
            
<ul class="breadcrumb" id="yw159">
<li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Grammaire <b class="caret"></b></a>

</li>
<li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Phonétique <b class="caret"></b></a>

</li>
</ul>

<section class="section-sm">
    <div class="container frame section-list">
        <!--        <h1 class="text-center">-->
        <!--</h1>-->
        <div class="content-item" id="phonetics_alphabet">
<h2 class="line-text important" title="#phonetics_alphabet" rel="tooltip">L’alphabet</h2>

<p>
                            Comme l'alphabet français, l'alphabet allemand comprend 
                            <strong>26 lettres</strong>
                             : A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z. Cependant 
                            <strong>4 lettres qui n'existent pas en français</strong>
                             s'ajoutent à cet alphabet de base :
                        </p>
                        <ul>
                            <li>3 voyelles qui prennent un Umlaut (tréma) : Ä, Ö, Ü (le I et le E n'en prennent jamais),</li>
                            <li>
                                Le fameux 
                                <strong>ß </strong>
                                (
                                <em>Eszett</em>
                                 ou 
                                <em>scharfes S) </em>
                                typique de la langue allemande même s'il est moins utilisé depuis la réforme de l'orthographe allemande de 1996.
                            </li>
                        </ul>
                        <p>


<h3>Les lettres</h3>


<ul class="cards list-inline list-unstyled text-center row equal-height">
                        <li id="sb_yw0_1_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Aa</span>
                            <span class="card-caption orig" dir="ltr">Affe</span>
                            <span class="card-text tr-only">singe</span>
                                </li>
                        <li id="sb_yw0_2_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Bb</span>
                            <span class="card-caption orig" dir="ltr">Ball</span>
                            <span class="card-text tr-only">ballon</span>
                                </li>
                        <li id="sb_yw0_3_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Cc</span>
                            <span class="card-caption orig" dir="ltr">Computer</span>
                            <span class="card-text tr-only">ordinateur</span>
                                </li>
                        <li id="sb_yw0_4_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Dd</span>
                            <span class="card-caption orig" dir="ltr">Dach</span>
                            <span class="card-text tr-only">toit</span>
                                </li>
                        <li id="sb_yw0_5_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Ee</span>
                            <span class="card-caption orig" dir="ltr">Elefant</span>
                            <span class="card-text tr-only">éléphant</span>
                                </li>
                        <li id="sb_yw0_6_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Ff</span>
                            <span class="card-caption orig" dir="ltr">Fahrrad</span>
                            <span class="card-text tr-only">vélo</span>
                                </li>
                        <li id="sb_yw0_7_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Gg</span>
                            <span class="card-caption orig" dir="ltr">Gehirn</span>
                            <span class="card-text tr-only">cerveau</span>
                                </li>
                        <li id="sb_yw0_8_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Hh</span>
                            <span class="card-caption orig" dir="ltr">Hafen</span>
                            <span class="card-text tr-only">port</span>
                                </li>
                        <li id="sb_yw0_9_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Ii</span>
                            <span class="card-caption orig" dir="ltr">Igel</span>
                            <span class="card-text tr-only">hérisson</span>
                                </li>
                        <li id="sb_yw0_10_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Jj</span>
                            <span class="card-caption orig" dir="ltr">Jacke</span>
                            <span class="card-text tr-only">veste</span>
                                </li>
                        <li id="sb_yw0_11_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Kk</span>
                            <span class="card-caption orig" dir="ltr">Kleid</span>
                            <span class="card-text tr-only">robe</span>
                                </li>
                        <li id="sb_yw0_12_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Ll</span>
                            <span class="card-caption orig" dir="ltr">Leiter</span>
                            <span class="card-text tr-only">échelle</span>
                                </li>
                        <li id="sb_yw0_13_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Mm</span>
                            <span class="card-caption orig" dir="ltr">Maus</span>
                            <span class="card-text tr-only">souris</span>
                                </li>
                        <li id="sb_yw0_14_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Nn</span>
                            <span class="card-caption orig" dir="ltr">Nase</span>
                            <span class="card-text tr-only">nez</span>
                                </li>
                        <li id="sb_yw0_15_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Oo</span>
                            <span class="card-caption orig" dir="ltr">Orgel</span>
                            <span class="card-text tr-only">orgue</span>
                                </li>
                        <li id="sb_yw0_16_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Pp</span>
                            <span class="card-caption orig" dir="ltr">Papier</span>
                            <span class="card-text tr-only">papier</span>
                                </li>
                        <li id="sb_yw0_17_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Qq</span>
                            <span class="card-caption orig" dir="ltr">Quark</span>
                            <span class="card-text tr-only">fromage blanc</span>
                                </li>
                        <li id="sb_yw0_18_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Rr</span>
                            <span class="card-caption orig" dir="ltr">Radio</span>
                            <span class="card-text tr-only">radio</span>
                                </li>
                        <li id="sb_yw0_19_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Ss</span>
                            <span class="card-caption orig" dir="ltr">Sauna</span>
                            <span class="card-text tr-only">sauna</span>
                                </li>
                        <li id="sb_yw0_20_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Tt</span>
                            <span class="card-caption orig" dir="ltr">Tiger</span>
                            <span class="card-text tr-only">tigre</span>
                                </li>
                        <li id="sb_yw0_21_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Uu</span>
                            <span class="card-caption orig" dir="ltr">Uhr</span>
                            <span class="card-text tr-only">montre</span>
                                </li>
                        <li id="sb_yw0_22_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Vv</span>
                            <span class="card-caption orig" dir="ltr">Vater</span>
                            <span class="card-text tr-only">père</span>
                                </li>
                        <li id="sb_yw0_23_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Ww</span>
                            <span class="card-caption orig" dir="ltr">Wasser</span>
                            <span class="card-text tr-only">eau</span>
                                </li>
                        <li id="sb_yw0_24_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Xx</span>
                            <span class="card-caption orig" dir="ltr">Xylofon</span>
                            <span class="card-text tr-only">xylophone</span>
                                </li>
                        <li id="sb_yw0_25_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Yy</span>
                            <span class="card-caption orig" dir="ltr">Yacht</span>
                            <span class="card-text tr-only">yacht</span>
                                </li>
                        <li id="sb_yw0_26_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Zz</span>
                            <span class="card-caption orig" dir="ltr">Zahn</span>
                            <span class="card-text tr-only">dent</span>
                                </li>
    </ul>

<h3>Les lettres à umlaut et ß</h3>


<ul class="cards list-inline list-unstyled text-center row equal-height">
                        <li id="sb_yw1_1_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Ää</span>
                            <span class="card-caption orig" dir="ltr">Äpfel</span>
                            <span class="card-text tr-only">pommes</span>
                                </li>
                        <li id="sb_yw1_2_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Öö</span>
                            <span class="card-caption orig" dir="ltr">Öl</span>
                            <span class="card-text tr-only">huile</span>
                                </li>
                        <li id="sb_yw1_3_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">Üü</span>
                            <span class="card-caption orig" dir="ltr">Überfall</span>
                            <span class="card-text tr-only">agression</span>
                                </li>
                        <li id="sb_yw1_4_1640889264" class="h card sb col-xs-4 col-md-2 col-md-offset-1" style="" data-sound="">
                
                            <span class="card-title" dir="ltr">ẞß</span>
                            <span class="card-caption orig" dir="ltr">Straße</span>
                            <span class="card-text tr-only">rue</span>
                                </li>
    </ul>

<p><b>Remarque :</b> si vous n’avez pas les lettres ä, ö, ü et ß sur votre clavier, vous pouvez en règle générale utiliser ae, oe, ue et ss à la place.</p></div>





<!-- Adsense widget is disabled -->
<div class="content-item" id="phonetics_doppellaute">
<h2 class="line-text important" title="#phonetics_doppellaute" rel="tooltip">Doubles voyelles</h2>

<p>En Allemand, on utilise souvent des doubles voyelles, c’est-à-dire deux voyelles successives, par exemple « ei », « ie », « ai », « eu », « äu » et « au ». Elles sont considérées comme un seul son.</p>

<!-- @todo: sounds -->

<div class="grammar-examples grammar-block">
    <ul>
        <li class="grammar-example">
            <b>ei:</b>         <span id="sb_yw127_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Eis</span>
    
                    <span class="tr-only">(= glace)</span>
                    </span>
    ,        <span id="sb_yw127_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Eisenbahn</span>
    
                    <span class="tr-only">(= voir ferrée)</span>
                    </span>
    ,        <span id="sb_yw127_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Eimer</span>
    
                    <span class="tr-only">(= seau)</span>
                    </span>
            </li>
        <li class="grammar-example">
            <b>ai:</b>         <span id="sb_yw128_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Mai</span>
    
                    <span class="tr-only">(= mai)</span>
                    </span>
    ,        <span id="sb_yw128_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Hai</span>
    
                    <span class="tr-only">(= requin)</span>
                    </span>
    ,        <span id="sb_yw128_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Kaiser</span>
    
                    <span class="tr-only">(= empereur)</span>
                    </span>
            </li>
        <li class="grammar-example">
            <b>ie:</b>         <span id="sb_yw129_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Liebe</span>
    
                    <span class="tr-only">(= amour)</span>
                    </span>
    ,        <span id="sb_yw129_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Dieb</span>
    
                    <span class="tr-only">(= voleur)</span>
                    </span>
    ,        <span id="sb_yw129_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Miete</span>
    
                    <span class="tr-only">(= loyer)</span>
                    </span>
                (le « e » n’est pas prononcé, il indique que le « i » est long)
        </li>
        <li class="grammar-example">
            <b>eu:</b>         <span id="sb_yw130_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Eule</span>
    
                    <span class="tr-only">(= chouette)</span>
                    </span>
    ,        <span id="sb_yw130_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Euter</span>
    
                    <span class="tr-only">(= pis)</span>
                    </span>
    ,        <span id="sb_yw130_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Europa</span>
    
                    <span class="tr-only">(= Europe)</span>
                    </span>
            </li>
        <li class="grammar-example">
            <b>äu:</b>         <span id="sb_yw131_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Häuser</span>
    
                    <span class="tr-only">(= maisons)</span>
                    </span>
    ,        <span id="sb_yw131_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Läuse</span>
    
                    <span class="tr-only">(= poux)</span>
                    </span>
    ,        <span id="sb_yw131_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Mäuse</span>
    
                    <span class="tr-only">(= souris)</span>
                    </span>
            </li>
        <li class="grammar-example">
            <b>au:</b>         <span id="sb_yw132_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Haus</span>
    
                    <span class="tr-only">(= maison)</span>
                    </span>
    ,        <span id="sb_yw132_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Laus</span>
    
                    <span class="tr-only">(= pou)</span>
                    </span>
    ,        <span id="sb_yw132_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Maus</span>
    
                    <span class="tr-only">(= souris)</span>
                    </span>
            </li>
    </ul>
</div>

<p>Les doubles voyelles « äu » et « eu » sont prononcées de manière identique. Pour savoir quelle orthographe est correcte, il faut regarder le radical du mot. Le plural de « Haus » est donc « Häuser » et jamais « Heuser », même si ce mot se prononcerait pareil. Autres exemples :</p>

<div class="grammar-examples grammar-block">
    <ul>
        <li class="grammar-example">
                    <span id="sb_yw133_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Maus</span>
    
                    <span class="tr-only">(= souris)</span>
                    </span>
     –         <span id="sb_yw133_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Mäuse</span>
    
                    <span class="tr-only">(= souris)</span>
                    </span>
            </li>
        <li class="grammar-example">
                    <span id="sb_yw134_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Laus</span>
    
                    <span class="tr-only">(= pou)</span>
                    </span>
     –         <span id="sb_yw134_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Läuse</span>
    
                    <span class="tr-only">(= poux)</span>
                    </span>
            </li>
        <li class="grammar-example">
                    <span id="sb_yw135_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Baum</span>
    
                    <span class="tr-only">(= arbre)</span>
                    </span>
     –         <span id="sb_yw135_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Bäume</span>
    
                    <span class="tr-only">(= arbres)</span>
                    </span>
            </li>
    </ul>
</div>

<p>Les doubles voyelles « ei » et « ai » ont aussi la même prononciation (« aï »). Pour elles, en revanche, il n’y a pas de règle pour déterminer la bonne orthographe et les mots avec « ai », moins nombreux, doivent tout simplement être appris :</p>

<div class="grammar-examples grammar-block">
            <span id="sb_yw136_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Detail</span>
    
                    <span class="tr-only">(= détail)</span>
                    </span>
    ,        <span id="sb_yw136_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Saite</span>
    
                    <span class="tr-only">(= corde)</span>
                    </span>
    ,        <span id="sb_yw136_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Hain</span>
    
                    <span class="tr-only">(= bosquet)</span>
                    </span>
    ,        <span id="sb_yw136_4_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Mais</span>
    
                    <span class="tr-only">(= maïs)</span>
                    </span>
    ,        <span id="sb_yw136_5_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Laie</span>
    
                    <span class="tr-only">(= profane)</span>
                    </span>
    ,        <span id="sb_yw136_6_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Waise</span>
    
                    <span class="tr-only">(= orphelin)</span>
                    </span>
    ,        <span id="sb_yw136_7_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Kai</span>
    
                    <span class="tr-only">(= quai)</span>
                    </span>
    ,        <span id="sb_yw136_8_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Laib</span>
    
                    <span class="tr-only">(= miche, meule)</span>
                    </span>
    ,        <span id="sb_yw136_9_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Taille</span>
    
                    <span class="tr-only">(= taille)</span>
                    </span>
    ,        <span id="sb_yw136_10_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Laich</span>
    
                    <span class="tr-only">(= frai)</span>
                    </span>
    ,        <span id="sb_yw136_11_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Mailand</span>
    
                    <span class="tr-only">(= Milan)</span>
                    </span>
    ,        <span id="sb_yw136_12_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Mainz</span>
    
                    <span class="tr-only">(= Mayence)</span>
                    </span>
    ,        <span id="sb_yw136_13_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Main</span>
    
                    <span class="tr-only">(= Main)</span>
                    </span>
    </div>

<p><b>Remarque :</b> dans le cas de « ai » et « ei », il y a beaucoup de faux amis qui ont la même prononciation mais une orthographe différente :</p>

<div class="grammar-examples grammar-block">
    <ul>
        <li class="grammar-example">
                    <span id="sb_yw137_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Saite (bei der Gitarre)</span>
    
                    <span class="tr-only">(= corde (de guitare))</span>
                    </span>
     –         <span id="sb_yw137_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Seite (im Buch)</span>
    
                    <span class="tr-only">(= page (de livre))</span>
                    </span>
            </li>
        <li class="grammar-example">
                    <span id="sb_yw138_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Waise (Kind ohne Eltern)</span>
    
                    <span class="tr-only">(= orphelin (enfant sans parents))</span>
                    </span>
     –         <span id="sb_yw138_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">weise (klug sein)</span>
    
                    <span class="tr-only">(= sage (sensé))</span>
                    </span>
            </li>
        <li class="grammar-example">
                    <span id="sb_yw139_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Laib (ein Laib Brot, Käse)</span>
    
                    <span class="tr-only">(= miche/meule (une miche de pain, une meule de fromage))</span>
                    </span>
     –         <span id="sb_yw139_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">der Leib (Körper)</span>
    
                    <span class="tr-only">(= corps)</span>
                    </span>
            </li>
        <li class="grammar-example">
                    <span id="sb_yw140_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Laiche (Fischeier)</span>
    
                    <span class="tr-only">(= frais (œufs de poissons))</span>
                    </span>
     –         <span id="sb_yw140_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Leiche (toter Körper)</span>
    
                    <span class="tr-only">(= cadavre (corps))</span>
                    </span>
            </li>
        <li class="grammar-example">
                    <span id="sb_yw141_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Main (Fluss in Deutschland)</span>
    
                    <span class="tr-only">(= Main (rivière d’Allemagne))</span>
                    </span>
     –         <span id="sb_yw141_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">mein (mir gehörend)</span>
    
                    <span class="tr-only">(= mon (à moi))</span>
                    </span>
            </li>
    </ul>
</div></div>

<!-- Adsense widget is disabled -->
<div class="content-item" id="phonetics_buchstabe_h">
<h2 class="line-text important" title="#phonetics_buchstabe_h" rel="tooltip">La lettre « h » et les sons « ch » et « sch »</h2>

<p>En plus des voyelles doubles, il existe aussi les combinaisons de lettres « sch » et « ch » ainsi que le « h » muet, qui est écrit mais n’est pas prononcé.</p>

<!-- @todo sounds -->

<p><b>h</b> peut être prononcé de deux manières différentes :</p>

<ul>
    <li class="grammar-example">
        <p>En début de mot, comme un [h] expiré (son qui n’existe pas en français mais qu’on trouve par exemple en anglais) :</p>
        <div class="grammar-examples grammar-block">
                    <span id="sb_yw142_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Hund</span>
    
                    <span class="tr-only">(= chien)</span>
                    </span>
    ,        <span id="sb_yw142_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Haare</span>
    
                    <span class="tr-only">(= cheveux)</span>
                    </span>
    ,        <span id="sb_yw142_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Haus</span>
    
                    <span class="tr-only">(= maison)</span>
                    </span>
            </div>
    </li>
    <li class="grammar-example">
        <p>Comme un h muet, le plus souvent avant les consonnes l, m, n, r ainsi qu’avant ou après les voyelles. Le h indique alors que la voyelle précédente est longue :</p>
        <div class="grammar-examples grammar-block">
                    <span id="sb_yw143_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">fehlen</span>
    
                    <span class="tr-only">(= manquer)</span>
                    </span>
    ,        <span id="sb_yw143_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">nehmen</span>
    
                    <span class="tr-only">(= prendre)</span>
                    </span>
    ,        <span id="sb_yw143_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Zahn</span>
    
                    <span class="tr-only">(= dent)</span>
                    </span>
    ,        <span id="sb_yw143_4_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Lehrer</span>
    
                    <span class="tr-only">(= enseignant)</span>
                    </span>
    ,        <span id="sb_yw143_5_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">sehen</span>
    
                    <span class="tr-only">(= voir)</span>
                    </span>
    ,        <span id="sb_yw143_6_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">gehen</span>
    
                    <span class="tr-only">(= aller)</span>
                    </span>
    ,        <span id="sb_yw143_7_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Rehe</span>
    
                    <span class="tr-only">(= chevreuils)</span>
                    </span>
            </div>
    </li>
</ul>

<p><b>Remarque :</b> Les mots qui commencent par q, sch, sp ou t n’ont jamais de h muet :</p>

<div class="grammar-examples grammar-block">
            <span id="sb_yw144_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Qual</span>
    
                    <span class="tr-only">(= supplice)</span>
                    </span>
    ,        <span id="sb_yw144_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Schal</span>
    
                    <span class="tr-only">(= écharpe)</span>
                    </span>
    ,        <span id="sb_yw144_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">spät</span>
    
                    <span class="tr-only">(= tard)</span>
                    </span>
    ,        <span id="sb_yw144_4_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Tal</span>
    
                    <span class="tr-only">(= vallée)</span>
                    </span>
    </div>

<p>Il est important de bien prononcer ch et sch, comme le montre l’exemple de         <span id="sb_yw145_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Kirche</span>
    
                    <span class="tr-only">(= église)</span>
                    </span>
     et         <span id="sb_yw146_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Kirsche</span>
    
                    <span class="tr-only">(= cerise)</span>
                    </span>
    . Les deux mots sont similaires, mais ont des sens différents et peuvent être facilement confondus si -ch ou -sch n’est pas prononcé correctement.</p>

<p><b>ch</b> a deux prononciations différentes :</p>

<ul>
    <li class="grammar-example">
        <p>Après les voyelles postérieures (a, o, u, au), c’est le son guttural [x] :</p>
        <div class="grammar-examples grammar-block">
                    <span id="sb_yw147_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Ach</span>
    
                    <span class="tr-only">(= ah)</span>
                    </span>
    ,        <span id="sb_yw147_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Buch</span>
    
                    <span class="tr-only">(= livre)</span>
                    </span>
    ,        <span id="sb_yw147_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Loch</span>
    
                    <span class="tr-only">(= trou)</span>
                    </span>
    ,        <span id="sb_yw147_4_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Fach</span>
    
                    <span class="tr-only">(= compartiment)</span>
                    </span>
    ,        <span id="sb_yw147_5_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Dach</span>
    
                    <span class="tr-only">(= toit)</span>
                    </span>
    ,        <span id="sb_yw147_6_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">doch</span>
    
                    <span class="tr-only">(= si)</span>
                    </span>
            </div>
    </li>
    <li class="grammar-example">
        <p>Après toutes les autres voyelles, l, n, r et dans la terminaison -chen, c’est le son [ç], plus doux :</p>
        <div class="grammar-examples grammar-block">
                    <span id="sb_yw148_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">ich</span>
    
                    <span class="tr-only">(= je)</span>
                    </span>
    ,        <span id="sb_yw148_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Milch</span>
    
                    <span class="tr-only">(= lait)</span>
                    </span>
    ,        <span id="sb_yw148_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Kirche</span>
    
                    <span class="tr-only">(= église)</span>
                    </span>
    ,        <span id="sb_yw148_4_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">manchmal</span>
    
                    <span class="tr-only">(= parfois)</span>
                    </span>
    ,        <span id="sb_yw148_5_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Mädchen</span>
    
                    <span class="tr-only">(= fille)</span>
                    </span>
            </div>
    </li>
    <li class="grammar-example">
        <p>Devant a, o, u, l, r, s, il se prononce [k] :</p>
        <div class="grammar-examples grammar-block">
                    <span id="sb_yw149_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Chaos</span>
    
                    <span class="tr-only">(= chaos)</span>
                    </span>
    ,        <span id="sb_yw149_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Chor</span>
    
                    <span class="tr-only">(= chœur)</span>
                    </span>
    ,        <span id="sb_yw149_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">sechs</span>
    
                    <span class="tr-only">(= six)</span>
                    </span>
    ,        <span id="sb_yw149_4_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">wachsen</span>
    
                    <span class="tr-only">(= croître)</span>
                    </span>
    ,        <span id="sb_yw149_5_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Fuchs</span>
    
                    <span class="tr-only">(= renard)</span>
                    </span>
            </div>
    </li>
</ul>

<p><b>sch</b> se prononce :</p>

<ul>
    <li class="grammar-example">
        <p>La combinaison « sch » est toujours prononcée [ʃ] (comme « ch » en français) :</p>
        <div class="grammar-examples grammar-block">
                    <span id="sb_yw150_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Fisch</span>
    
                    <span class="tr-only">(= poisson)</span>
                    </span>
    ,        <span id="sb_yw150_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Kirsche</span>
    
                    <span class="tr-only">(= cerise)</span>
                    </span>
    ,        <span id="sb_yw150_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Mensch</span>
    
                    <span class="tr-only">(= homme)</span>
                    </span>
    ,        <span id="sb_yw150_4_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">falsch</span>
    
                    <span class="tr-only">(= faux)</span>
                    </span>
            </div>
    </li>
    <li class="grammar-example">
        <p>Le S des combinaisons St et Sp se prononce également [ʃ] :</p>
        <div class="grammar-examples grammar-block">
                    <span id="sb_yw151_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Strafe</span>
    
                    <span class="tr-only">(= punition)</span>
                    </span>
    ,        <span id="sb_yw151_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Stimme</span>
    
                    <span class="tr-only">(= voix)</span>
                    </span>
    ,        <span id="sb_yw151_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">steil</span>
    
                    <span class="tr-only">(= escarpé)</span>
                    </span>
    ,        <span id="sb_yw151_4_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">spät</span>
    
                    <span class="tr-only">(= tard)</span>
                    </span>
    ,        <span id="sb_yw151_5_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Spaß</span>
    
                    <span class="tr-only">(= plaisir)</span>
                    </span>
    ,        <span id="sb_yw151_6_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Sport</span>
    
                    <span class="tr-only">(= sport)</span>
                    </span>
            </div>
    </li>
</ul>

<p><b>Remarque :</b> dans le mot         <span id="sb_yw152_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">bisschen</span>
    
                    <span class="tr-only">(= un peu)</span>
                    </span>
    , il n’y a pas de son « sch », mais « ch ».</p></div>

<!-- Adsense widget is disabled -->
<div class="content-item" id="phonetics_verdopplung">
<h2 class="line-text important" title="#phonetics_verdopplung" rel="tooltip">Redoublement de consonnes et de voyelles</h2>

<p>Certains mots ont à l’écrit deux voyelles identiques qui se suivent, ce qui indique que la voyelle est prononcée longue :</p>

<div class="grammar-examples grammar-block">
            <span id="sb_yw153_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Saal</span>
    
                    <span class="tr-only">(= salle)</span>
                    </span>
    ,        <span id="sb_yw153_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Meer</span>
    
                    <span class="tr-only">(= mer)</span>
                    </span>
    ,        <span id="sb_yw153_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">leer</span>
    
                    <span class="tr-only">(= vide)</span>
                    </span>
    ,        <span id="sb_yw153_4_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Fee</span>
    
                    <span class="tr-only">(= fée)</span>
                    </span>
    </div>

<p>Contrairement au redoublement des voyelles, le redoublement de consonnes indique que la voyelle précédente est brève :</p>

<div class="grammar-examples grammar-block">
            <span id="sb_yw154_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Mann</span>
    
                    <span class="tr-only">(= homme)</span>
                    </span>
    ,        <span id="sb_yw154_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">dann</span>
    
                    <span class="tr-only">(= alors)</span>
                    </span>
    ,        <span id="sb_yw154_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">komm</span>
    
                    <span class="tr-only">(= viens)</span>
                    </span>
    ,        <span id="sb_yw154_4_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Bann</span>
    
                    <span class="tr-only">(= envoûtement)</span>
                    </span>
    </div>

</div>

<!-- Adsense widget is disabled -->
<div class="content-item" id="phonetics_buchstabe_s">
<h2 class="line-text important" title="#phonetics_buchstabe_s" rel="tooltip">Les lettres « s », « ß » et « ss »</h2>

<p>La lettre s peut être prononcée de plusieurs façons. En plus du s normal, on trouve aussi le ss redoublé et la lettre ß.</p>

<p>Un s sonore (prononcé comme un z français) s’écrit normalement avec un -s- simple :
<div class="grammar-examples grammar-block">
            <span id="sb_yw155_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">singen</span>
    
                    <span class="tr-only">(= chanter)</span>
                    </span>
    ,        <span id="sb_yw155_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Segel</span>
    
                    <span class="tr-only">(= voile)</span>
                    </span>
    ,        <span id="sb_yw155_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Rasen</span>
    
                    <span class="tr-only">(= pelouse)</span>
                    </span>
    ,        <span id="sb_yw155_4_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">lesen</span>
    
                    <span class="tr-only">(= lire)</span>
                    </span>
    </div>

Un s sourd (comme ss en français) peut être écrit soit -ss-, soit -ß-, selon les règles suivantes :
<ul>
    <li class="grammar-example">
        <p>Après une voyelle courte, on écrit en principe -ss- :</p>
        <div class="grammar-examples grammar-block">
                    <span id="sb_yw156_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Fass</span>
    
                    <span class="tr-only">(= tonneau)</span>
                    </span>
    ,        <span id="sb_yw156_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Pass</span>
    
                    <span class="tr-only">(= passeport)</span>
                    </span>
    ,        <span id="sb_yw156_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Tasse</span>
    
                    <span class="tr-only">(= tasse)</span>
                    </span>
    ,        <span id="sb_yw156_4_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">fressen</span>
    
                    <span class="tr-only">(= manger (pour les animaux))</span>
                    </span>
    ,        <span id="sb_yw156_5_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Kuss</span>
    
                    <span class="tr-only">(= baiser)</span>
                    </span>
    ,        <span id="sb_yw156_6_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Fluss</span>
    
                    <span class="tr-only">(= rivière)</span>
                    </span>
            </div>
    </li>
    <li class="grammar-example">
        <p>En outre, ss est toujours utilisé avec le préfixe miss- :</p>
        <div class="grammar-examples grammar-block">
                    <span id="sb_yw157_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Missverständnis</span>
    
                    <span class="tr-only">(= malentendu)</span>
                    </span>
    ,        <span id="sb_yw157_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">missachten</span>
    
                    <span class="tr-only">(= ne pas respecter)</span>
                    </span>
            </div>
    </li>
    <li class="grammar-example">
        <p>-ß- s’écrit après une voyelle longue ou une double voyelle :</p>
        <div class="grammar-examples grammar-block">
                    <span id="sb_yw158_1_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Maß</span>
    
                    <span class="tr-only">(= mesure)</span>
                    </span>
    ,        <span id="sb_yw158_2_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Soße</span>
    
                    <span class="tr-only">(= sauce)</span>
                    </span>
    ,        <span id="sb_yw158_3_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">außen</span>
    
                    <span class="tr-only">(= à l’extérieur)</span>
                    </span>
    ,        <span id="sb_yw158_4_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">Straße</span>
    
                    <span class="tr-only">(= rue)</span>
                    </span>
    ,        <span id="sb_yw158_5_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">süß</span>
    
                    <span class="tr-only">(= sucré)</span>
                    </span>
    ,        <span id="sb_yw158_6_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">fließen</span>
    
                    <span class="tr-only">(= couler)</span>
                    </span>
    ,        <span id="sb_yw158_7_1640889264" class="sb sb-left " data-sound="">
        
            <span class="orig" dir="ltr">heiß</span>
    
                    <span class="tr-only">(= chaud)</span>
                    </span>
            </div>
    </li>
</ul>





</body>
</html>


