<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
     <title>Acceuil</title>



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style1.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
     

<div cass="wrapper">
    <div class="logo">
        <img src="LOGO.png" alt="">
       </div>

    <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

     
</div>
</div>
</nav>


    <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Schnell Learning!</h1>
       <p class="lead">Besucht Ihr Kind eine lokale oder internationale Schule im Ausland? <br/>
        Sichern Sie mit unseren Deutschkursen den Anschluss im Fach Deutsch!<br/>
      Wählen Sie die passende Lösung für Ihr Kind: </p>
      
    </div>
  </div>

      <div class="container" >
         <div class="row"> 
            <div class="card">
                <img src="Grammatik.jpg" alt="">

                   <h4 style="color:brown"> Grammatik</h4>
  <p> >> Hier findest du die wichtigsten Grammatikregeln der deutschen Sprache. Mach dir die Grammatik zum Freund! Mit den richtigen Lernangeboten sind dir die Regeln bald klar.<br/>
              Lerne Deutsch Schritt für Schritt!<br/>
                  Mit Schnell Learning kannst du Deutsch in Lektionen lernen, die aufeinander abgestimmt sind.</p>
                  <a href="#" class="btn" > Finde mehr heraus</a>
              </div>


              <div class="card">
                <img src="Schreiben.bild.jpg" alt="">

                   <h4 style="color:red"> Redemittel Schreiben </h4>
                  <p> >>Gut schreiben können ist eine nicht zu unterschätzende Kompetenz, und guter Stil ist keinesfalls angeboren. Der kann erlernt werden! Deshalb haben wir Lerninhalte gesammelt, mit denen du deine Schreibfähigkeit gezielt verbessern kannst.. </p>
             <a href="#" class="btn" > Finde mehr heraus</a>
                  
              </div>
          </div>
      </div>


              





</body>
</html>







