
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


{% load static %}
<link href="{%static 'polls\css\Schreiben.css'%}" rel="stylesheet" >
<title>SCHREIBEN - Schnell Learning</title>
</head>
<body>
    

<nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
     

<div class="wrapper">
    <div class="logo">
        <img src="{%static 'polls/Images/LOGO.png'%}" alt="">
       </div>

    
 <ul>
     
        
        <li><a  href="#">Grammatik</a></li>
        <li><a class="active" href="#">Redemittel Schreiben</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
        
    </ul>
</div>
</nav>

  
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">
         <h1 class="mt-4" ;="" style="color:#357ce3;">SCHREIBEN A1</h1>

<strong> *Die folgenden Redemittel können Ihnen helfen bei der A1 Deutsch Prüfung:</strong> 
        <!-- Preview Image -->
         <img src="{%static 'polls/Images/Schreiben.jpg'%}" alt="">

        <hr>
        <h2 style="color: #AD2D0A;"> >>>Datum</h2>
        <p> Rom,den....</p>

         <h2 style="color: #AD2D0A;"> >>>Anrede</h2>
         <p class="lead" ;="" style="font-weight: bold;">INFORMELL</p>
         <p>Lieber Herr....,<br>
           Liebe Frau....,<br>
           Liebe Familie ....,</p>
            <p class="lead" ;="" style="font-weight: bold;">FORMELL</p>

        <p>Sehr geehrter Herr ...,<br>
           Sehr geehrte Frau ...,<br>
           Sehr geehrte Damen und Herren,</p>
            <h3 style="color: #AD2D0A;" ;=""> >>>Einleitung</h3>
            <p> 
                Wie geht es dir?<br>
                Wie geht es Ihnen?<br>
                Wie geht es deiner/Ihrer Familie?<br>
                Vielen Dank für die E-Mail/ die Einladung.Ich habe mich sehr darüber gefreut.<br>
                 Ich schreibe Ihnen/dir/ euch, weil …<br>
                 Es freut mich sehr gefreut zu hören, dass …<br>
          Ich wollte Ihnen/dir schon lange schreiben, aber ….<br>
      </p>
        <h3 style="color: #AD2D0A;" ;=""> >>>Zustimmen/Ablehnen</h3>
<p>
    Ich komme gerne.<br>
Das ist eine tolle Idee.<br>
Das finde ich super.<br>

Das tut mir Leid.<br>
Leider kann ich nicht…<br>
Es geht leider nicht.<br>
</p>
         <h3 style="color: #AD2D0A;" ;=""> >>>Etwas vorschlagen</h3>
         <p>
            Machen wir....<br>
            Gehen wir....<br>
            Wir können....<br>
            Wie findest du das?<br>
        </p>

 <h4 style="color: #AD2D0A;" ;=""> >>>Schluss</h4>
<p>
Ich warte auf deine Antwort.<br>

Ich warte auf Ihre Antwort.<br>

Schreib mir bald.<br>         
         
Ich würde mich freuen, bald wieder von Ihnen/dir zu hören.<br>
Ich hoffe, bald von Ihnen/dir zu hören.<br>
Ich wäre Ihnen sehr dankbar, wenn Sie mir bald antworten würden.<br>
Im Voraus vielen Dank für Ihre Mühe.<br>
Herzlichen Dank im Voraus.
        </p>
        <h4 style="color: #AD2D0A;" ;=""> >>>Gruss:</h4>
         <p class="lead" ;="" style="font-weight: bold;">INFORMELL</p>
         <p>Viele Grüße, .../Liebe Grüße, ...<br>
          Herzliche Grüße, ...<br>
          Bis bald in , ...<br>
          Unterschrift beim Brief
        </p>
         <p class="lead" ;="" style="font-weight: bold;">FORMELL</p>
         <p>Mit freundlichen Grüßen<br>
         Unterschrift beim Brief
       </p>
      

</body>

</html>