
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


{% load static %}
<link href="{%static 'polls\css\Schreiben.css'%}" rel="stylesheet" >
<title>SCHREIBEN - Schnell Learning</title>
</head>
<body>
    

<nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
     

<div class="wrapper">
    <div class="logo">
       <img src="{%static 'polls/Images/LOGO.png'%}" alt="">
       </div>

    
 <ul>
     
        
        <li><a  href="#">Grammatik</a></li>
        <li><a class="active" href="#">Redemittel Schreiben</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
        
    </ul>
</div>
</nav>

  
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">
         <h1 class="mt-4" ;="" style="color:#357ce3;">SCHREIBEN A2</h1>

<strong> *Die folgenden Redemittel können Ihnen helfen bei der A2 Deutsch Prüfung:</strong> 
        <!-- Preview Image -->
        <img src="{%static 'polls/Images/Schreiben.jpg'%}" alt="">

        <hr>
        <h2 style="color: #AD2D0A;"> >>>Sich entschuldigen </h2>
        <p> 
            Entschuldigung! Das tut mir leid.<br>
            Entschuldige, dass…<br>
            Es tut mir sehr leid, dass…
        </p>

         <h2 style="color: #AD2D0A;"> >>>Etwas begründen</h2>
         <p>
            Ich kann leider nicht kommen, weil ich krank bin<br>
            Ich komme zu spät, weil ich den Bus verpasst habe.<br>
            Ich zeichne gern. Deshalb möchte ich an einem Comicwettbewerb teilnehmen.
            <p>
           
           
            <h3 style="color: #AD2D0A;" ;=""> >>>Etwas vorschlagen</h3>
            <p> 
                Wir können zusammen einkaufen gehen. Hast du Lust/ Zeit?<br>
                Gehen wir zusammen einkaufen?<br>
                Wollen wir zusammen einkaufen gehen?<br>
                Ich schlage vor, dass wir…
      </p>
        <h3 style="color: #AD2D0A;" ;=""> >>>Jemanden einladen</h3>
<p>
    Ich bin gerade …., komm doch mit.<br>
    Möchtest du auch mitkommen?<br>
    Ich möchte heute…. gehen. Willst du auch mitkommen?
</p>
         <h3 style="color: #AD2D0A;" ;=""> >>>Um etwas bitten</h3>
         <p>
            Kannst du bitte deine CDs mitbringen?<br>
            Bring bitte deine CDs mit!<br>
            Kannst du mir bitte helfen?
        </p>

 <h4 style="color: #AD2D0A;" ;=""> >>>Danken</h4>
<p>
Vielen Dank für…<br>
Ich danke dir/ euch/ Ihnen, dass….<br>
Danke für…<br>
Ich möchte dir/ euch/ Ihnen für … danken.
        </p>
     
      

</body>

</html>