
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

{% load static %}
<link href="{%static 'polls\css\Schreiben.css'%}" rel="stylesheet" >
<title>SCHREIBEN - Schnell Learning</title>
</head>
<body>
    

<nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
     

<div class="wrapper">
    <div class="logo">
       <img src="{%static 'polls/Images/LOGO.png'%}" alt="">
       </div>

    
 <ul>
     
        
        <li><a  href="#">Grammatik</a></li>
        <li><a class="active" href="#">Redemittel Schreiben</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
        
    </ul>
</div>
</nav>

  
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      
      <div class="col-lg-8">
         <h1 class="mt-4" ;="" style="color:#357ce3;">SCHREIBEN B2</h1>

<strong> Die folgende Liste enthält sprachliche Mittel für das Modul Schreiben der neuen B1 Prüfung des Goethe Instituts:</strong> 
        <!-- Preview Image -->
        <img src="{%static 'polls/Images/Schreiben.jpg'%}" alt="">

        <hr>
        <h2 style="color: #000000;"> Teil 1(Forumsbeitrag) </h2>
         <h2 style="color: #AD2D0A;"> >>>Meinung äußern:</h2>
        
        <p> 
         Meiner Meinung/Ansicht nach…<br>
         Meines Erachtens<br>
         Ich bin der Überzeugung, dass…<br>
         Ich bin davon überzeugt, dass…<br>
         Ich selbst stehe auf dem Standpunkt, dass…
        </p>

         <h2 style="color: #AD2D0A;"> >>>Gründe nennen:</h2>
         <p>
            Ein wesentlicher Grund dafür, dass… , ist… <br>
            Eine mögliche/weitere Ursache für… ist…<br>
            Dies liegt daran, dass…<br>
            Dazu trägt weiterhin bei, dass…<br>
            … lässt sich dadurch erklären, dass…
            <p>
           
           
            <h3 style="color: #AD2D0A;" ;=""> >>>Schluss</h3>
            <p> 
                Ich warte auf deine/ eure Antwort<br>
                Ich erwarte deine/ eure Antwort<br>
                Schreib(t) mir bald<br>
                Mit herzlichen Grüßen
      </p>
        <h3 style="color: #AD2D0A;" ;=""> >>>Vorteile bzw. Nachteile nennen</h3>
<p>
   Ein Argument, das für … spricht, ist… <br>
   Vorteilhaft /Nachteilig bei … ist… /wirkt sich … aus<br>
   Was für / gegen … spricht, ist, dass…<br>
   … hat den Vorteil /Nachteil, dass…<br>
   … ist besonders geeignet für /bei…
</p>
         <h3 style="color: #AD2D0A;" ;=""> >>>Etwas vorschlagen</h3>
         <p>
            Man könnte…<br>
            Es wäre gut /sinnvoll…<br>
            Ich würde zum Beispiel vorschlagen / dafür plädieren…<br>
            Ich würde es für sinnvoll / das Beste halten, wenn…<br>
            Es lohnt sich, ….
        </p>
        <h3 style="color: #AD2D0A;" ;=""> >>>Beispiele geben</h3>
        <p>
       Ein Beispiel hierfür ist…<br>
       Als Beispiel könnte man anführen, dass…<br>
       beispielsweise
    </p>

 <h4 style="color: #AD2D0A;" ;=""> „Und“</h4>
<p>
Darüber hinaus<br>
Demgegenüber<br>
Zusätzlich<br>
Obgleich<br>
Ganz nebenbei<br>
Außerdem
     </p>
      </p>
  </p>
  <h2 style="color: #000000;"> Teil 2(E-Mail) </h2>
  <h2 style="color: #AD2D0A;"> >>>Grund für das Schreiben nennen</h2>
  <p>
  Sehr geehrter Herr… / Sehr geehrte Frau …<br>
  Ich schreibe Ihnen wegen …. /weil…<br>
  Hiermit muss ich Ihnen mitteilen, dass…
</p>
 <h3 style="color: #AD2D0A;" ;=""> >>>Um Verständnis bitten</h3>
 <p>
 Ich hoffe auf Ihr Verständnis, was die Situation betrifft.<br>
 Ich hoffe, dass Sie Verständnis für meine Situation haben.
</p>

<h3 style="color: #AD2D0A;" ;=""> >>>Verständnis zeigen</h3>
<p>
    Mir ist klar/bewusst, dass…<br>
    Ich verstehe natürlich, dass die Situation für… schwierig ist.<br>
    So etwas kann immer mal vorkommen.
</p>
<h3 style="color: #AD2D0A;" ;=""> >>>Etwas vorschlagen</h3>
<p>
    Es bestände vielleicht die Möglichkeit<br>
    Ich möchte Ihnen vorschlagen <br>
    Aus diesem Grund würde ich vorschlagen, dass…<br>
    Es wäre möglich, ….
</p>

<h3 style="color: #AD2D0A;" ;=""> >>>Um etwas bitten</h3>
<p>
    Ich habe eine Bitte an Sie<br>
    Ich benötige Ihre Hilfe.<br>
    Ich wende mich an Sie mit der Bitte, ….<br>
    Ich möchte Sie bitten, …
</p>

<h3 style="color: #AD2D0A;" ;=""> >>>Sich entschuldigen</h3>
<p>
    Ich bedauere sehr, dass…<br>
Es tut mir äußerst leid, dass…<br>
Ich möchte mich (bei Ihnen) für… entschuldigen.
</p>
<h3 style="color: #AD2D0A;" ;=""> >>>Die E-Mail schließen</h3>
<p>
    Vielen Dank im Voraus<br>
    Ich bedanke mich herzlich bei Ihnen.<br>
    Ich bitte Sie um Ihr Verständnis.<br>
    Mit freundlichen Grüßen
    <p>


</body>

</html>