
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

{% load static %}
<link href="{%static 'polls\css\Schreiben.css'%}" rel="stylesheet" >
<title>SCHREIBEN - Schnell Learning</title>
</head>
<body>
    

<nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
     

<div class="wrapper">
    <div class="logo">
        <img src="{%static 'polls/Images/LOGO.png'%}" alt="">
       </div>

    
 <ul>
     
        
        <li><a  href="#">Grammatik</a></li>
        <li><a class="active" href="#">Redemittel Schreiben</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
        
    </ul>
</div>
</nav>

  
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">
         <h1 class="mt-4" ;="" style="color:#357ce3;">SCHREIBEN B1</h1>

<strong> Die folgende Liste enthält sprachliche Mittel für das Modul Schreiben der neuen B1 Prüfung des Goethe Instituts:</strong> 
        <!-- Preview Image -->
       <img src="{%static 'polls/Images/Schreiben.jpg'%}" alt="">

        <hr>
        <h2 style="color: #000000;"> Persönliche E-Mail</h2>
        <p class="lead" ;="" style="font-weight: bold;">Betreff:</p>
        <p class="lead" ;="" style="font-weight: bold;">Anrede:</p>
        <p> 
           Liebe(r) ……/<br>
           Liebe (Plural)…..
        </p>

         <h2 style="color: #AD2D0A;"> >>>Einleitung:</h2>
         <p>
            Wie geht es dir/ euch? Mir geht es (nicht so) gut<br>
            Ich habe lange nichts von dir/euch gehört<br>
            Stell dir/ Stellt euch vor, was mir passiert ist
            <p>
           
           
            <h3 style="color: #AD2D0A;" ;=""> >>>Schluss</h3>
            <p> 
                Ich warte auf deine/ eure Antwort<br>
                Ich erwarte deine/ eure Antwort<br>
                Schreib(t) mir bald<br>
                Mit herzlichen Grüßen
      </p>
        <h3 style="color:#AD2D0A;" ;=""> >>>Gliederung</h3>
<p>
    erst/zuerst, zunächst einmal, als Erstes<br>
    dann, danach<br>
    zuletzt, schließlich, zum Schluss<br>
    jetzt<br>
    inzwischen<br>
    vorher, nachher<br>
    während, bevor, nachdem
</p>
         <h3 style="color: #AD2D0A;" ;=""> >>>Grund</h3>
         <p>
            weil, da <br>
            denn<br>
            nämlich
        </p>
        <h3 style="color: #AD2D0A;" ;=""> >>>«Und»</h3>
        Außerdem<br>
        auch<br>
        Ferner<br>
        Darüber hinaus
    </p>

 <h4 style="color: #AD2D0A;" ;=""> >>>Vermutungen</h4>
<p>
Wahrscheinlich, vielleicht, vermutlich<br>
Ich nehme an, dass…<br>
Es ist möglich, dass…<br>
Es könnte sein, dass….
     </p>
      

</body>

</html>